*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

body{
  background-color: #63a4ff;
  background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form{
  width: 470px;
  background: #FFFFFF;
  padding: 30px 60px;
  box-shadow: rgba(25, 29, 33, 0.5) 0px 25px 60px;
  border-radius: 20px;
  max-width: 24rem;
}

.logo-firelink {
  width: 80px !important;
  height: 80px !important;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
}

.title-sign-up {
  font-size: 18px;
  font-weight: 700;
  color: black;
}

.gcIDSt {
  border-radius: 6px !important;
  line-height: 1.2 !important;
  border: 1px solid rgb(230, 230, 230) !important;
  padding: 15px 10px !important;
  background-color: rgb(250, 250, 250) !important;
}

.gUMdPB {
  margin: 0px;
  padding: 8px;
  width: 100%;
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  font-family: inherit;
  line-height: inherit;
  display: inline-block;
  vertical-align: middle;
  border: 0px;
  appearance: none;
  margin-top: 10px;
}

.info-small {
    margin-top: 5px;
    color: inherit;
    font-size: 13px;
    opacity: 0.4;
    text-align: left;
}

.continue-button {
  position: relative;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  color: white;
  background-image: linear-gradient(#4a92ff, #0066FF) !important;
  padding: 15px 20px;
  line-height: 1.23529;
  border-radius: 2em;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.continue-button:focus { outline: none; }

.already-have-account {
  text-align: center;
  color: black;
}

a.sign-up {
  text-align: center;
  color: black;
  text-decoration: black !important;
  margin-bottom: 20px;
}

.footer-login {
  text-align: center;
}

.alert {
  padding: 15px 30px;
  margin-bottom: 15px;
  border-radius: 3px;
  border-bottom: 3px solid #22303d;
  letter-spacing: 0.5px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.8);
  background-image: linear-gradient(#4f6f8f, #34495e);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.alert--danger {
  padding: 15px 30px;
  margin-bottom: 15px;
  border-radius: 3px;
  border-bottom: 3px solid #0056d6;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.8);
  background-image: linear-gradient(#4a92ff, #0066FF);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.offer {
  height: 50px;
  width: auto;
  box-shadow: 0 0 5px 0 rgb(68 43 148 / 20%);
  margin-bottom: 1rem;
}

.offer-item {
  display: flex;
  align-items: center;
}

.offer h4 {
  text-align: left;
  margin: 0;
  padding: 13px;
}

.offer a {
  background-image: linear-gradient(to right, #63a4ff 0%, #83eaf1  51%, #63a4ff  100%);
  background-size: 200% auto;
  transition: all 0.5s;
  color: #fff;
  padding: 3px 10px;
  border-radius: 30px;
  margin-left: 65px;
}

.offer a:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  transform: scale(1.02);
}
/* Coolink 