* {
    font-family: 'Montserrat';
}

nav {
    background: #3AA9FF;
    padding: 1rem;
}


@media (max-width: 474px) {
    .navbar-brand {
        margin: 0 auto 1rem;
    }
    .form-inline {
        margin: 0 auto;
    }
}

.navbar-brand, .navbar-brand:hover {
    color: white;
}

.navbar-btn {
    background: rgba(255,255,255,.15);
    color: white;
    border-radius: 3px;
}

.navbar-btn:hover, .navbar-btn:focus {
    background: rgba(255,255,255,.20);
    color: white;
    outline: none;
    box-shadow: none;
}


.help__header {
    padding: 30px;
    text-align: center;
    background: #3AA9FF;
    color: white;
}

.help__form {
    margin-top: 1rem;
}

.help__form p {
    font-size: 20px;
}

.form-control {
    width: 300px;
    margin: 0 auto;
    border-radius: 2px;
    border: none;
    border-bottom: 1px solid #E0E0E0;
    box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

.help__form_separator {
    background-color: #D9E1E8;
    height: 1px;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.section__title {
    margin-top: 3rem;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0;
    font-weight: 700;
}

.section__title i {
    margin-right: 0.3rem;
}

.card {
    background: #F0F2F5;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.card:hover {
    background: #E4E6E9;
}

.card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5rem;
}

.card-title {
    color: #1C1E21 !important;
    font-size: 16px;
}

.card-text {
    color: #606770 !important;
}

.card-title, .card-text {
    text-align: center;
    padding-left: 1rem;
}

.card-1 {
    margin-top: 2rem;
}

.card-2 {
    margin-top: 1rem;
}

@media (max-width: 575px) {
    .card {
        margin-top: 1rem;
    }
}

.help__separator {
    background-color: #D9E1E8;
    height: 1px;
    margin: 46px 0 52px;
}

.help__email {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    padding: 0.5rem;
    border-radius: 2px;
    border: none;
    border-bottom: 1px solid #E0E0E0;
    background: #F0F2F5;
}


.help__textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 2px;
    border: none;
    border-bottom: 1px solid #E0E0E0;
    background: #F0F2F5;
}

.help__textarea:focus, .help__email:focus {
    outline: none;
}

@media (max-width: 530px) {
    .help__textarea, .help__email,  .alert__danger {
        width: 350px !important;
    }
}

.help-btn {
    background: #3AA9FF;
    color: white;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 1rem;
    padding: 0.4rem 3rem 0.4rem 3rem;
}

.help-btn:hover, .help-btn:focus{
    background: #61BAFF;
    color: white;
    border-radius: 3px;
    box-shadow: none;
    outline: none;
}

.alert__danger {
    width: 500px;
    margin: 0 auto;
    padding: 15px 30px;
    margin-bottom: 15px;
    border-radius: 3px;
    letter-spacing: 0.5px;
    text-align: center;
    color: rgb(255, 255, 255);
    background: #3AA9FF;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}


#footer {
    margin-top: 3.5rem;
    background: #3AA9FF;
    color: white;
    text-align: center;
}

.footer {
    padding-top: 2.2rem;
    padding-bottom: 1rem;
}

ul li {
    display: inline-block;
}

ul li a {
    display: block;
    font-size: 0.875em;
    font-weight: 700;
    padding: 0.5em 1em;
    color: white;
    text-decoration: none;
    text-align: center;
}

ul li a:hover {
    color: white;
}

.breadcrumbs {
    font-weight: 700;
    padding-left: 5rem;
}

@media (max-width: 1450px) {
    .breadcrumbs {
        padding-left: 1.5rem;
    }
}

.breadcrumbs a,  .breadcrumbs a:hover{
    color: black;
    text-decoration: none;
}

#help__sec {
    margin-top: 4rem;
}

#help__sec h1 {
    font-weight: 700;
}

li {
    list-style-type: disc;
    margin: 10px 0;
}

.help__img {
    max-width: 100%;
    height: auto;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #D9E1E8;
}

#sommaire a {
    color: black;
    text-decoration: none;
}