body {
	font-size: 13px;
	font-weight: 300;
	font-family: Poppins, sans-serif
}

h1 {
	font-family: Poppins, sans-serif
}

h2 {
	font-family: Poppins, sans-serif
}

h3 {
	font-family: Poppins, sans-serif
}

.header {
	padding-top: 100px;
	padding-bottom: 50px;
	background: #FAFAFA;
}

table {
	margin-left: 1rem;
}


@media (max-width:767px) {
    table {
		margin-left: 0;
    }
}


.fa-search {
	font-size: 20px
}

.btn-default {
	background: orange;
	width: 135px;
	padding: 10px
}

.form-control {
	padding: 22px;
	font-size: 20px
}

p {
	font-family: Poppins, sans-serif;
	padding-top: .25em;
	padding-bottom: .25em
}

a {
	font-family: Poppins, sans-serif
}

i {
	font-family: Poppins, sans-serif
}

#section1 {
	padding-top: 50px;
	height: 100%;
	color: #fff;
	background-color: #58b792
}

#section2 {
	padding-top: 50px;
	height: 100%;
	color: #fff;
	background-color: #f5a339
}

#section3 {
	padding-top: 50px;
	height: 100%;
	color: #fff;
	background-color: #5f63bd
}

#section4 {
	padding-top: 50px;
	height: 100%;
	color: #fff;
	background-color: #87cef5
}

.title {
	font-size: 44px;
	line-height: 48px;
	font-weight: 700;
	padding: 0
}

.p_title {
	font-size: 20px;
	line-height: 48px;
	font-weight: 700;
	padding: 0;
	color: #fff
}

.p_sub {
	font-size: 18px;
	line-height: 28px
}

.btn_use {
	margin-top: 25px;
	padding: 12px 16px;
	text-decoration: none;
	font-weight: 600;
	line-height: 100%;
	color: #fff;
	background: rgba(0, 0, 0, .4)!important;
	border: none;
	font-size: 18px;
	display: inline-block;
	border-radius: 3px;
	z-index: 10
}

a:link {
	text-decoration: none
}

.col_half {
	width: 49%
}

.col_third {
	width: 32%
}

.col_fourth {
	width: 23.5%
}

.col_fifth {
	width: 18.4%
}

.col_sixth {
	width: 15%
}

.col_three_fourth {
	width: 74.5%
}

.col_twothird {
	width: 66%
}

.col_fifth,
.col_fourth,
.col_half,
.col_third,
.col_three_fourth,
.col_twothird {
	position: relative;
	display: inline;
	display: inline-block;
	float: left;
	margin-right: 2%;
	margin-bottom: 20px
}

.end {
	margin-right: 0!important
}

.wrapper {
	width: 980px;
	margin: 30px auto;
	position: relative
}

.counter {
	background-color: #fff;
	padding: 20px 0;
	border-radius: 5px
}


.fa-2x {
	margin: 0 auto;
	float: none;
	display: table;
	color: #4ad1e5
}

.white {
	color: #fff
}

}

.font-qualy {
	font-family: Qualy
}


footer {
	background-color: #000e17;
	color: white !important;
	font-size: 1rem;
	margin: 0;
	padding: 1rem;
}