/* copy 2020 Sigma. */

a.none {
    text-decoration: none;
    color: black;
}

.container-fluid {
    background-color: white;
}

.pro-description {
    font-size: 20px;
    text-align: center;
    color: black;
}

.btn-subscription {
    margin-top: 25px;
    padding: 12px 16px;
    text-decoration: none;
    font-weight: 600;
    line-height: 100%;
    color: #fff;
    background: linear-gradient(160deg, #0093E9, #80D0C7) !important;
    box-shadow: none !important; 
    border: none;
    font-size: 18px;
    display: inline-block;
    border-radius: 8px;
    z-index: 10;
    cursor: pointer;
}

.btn-subscription:focus { outline: none; }

.btn-subscription:hover, .btn-subscription:active, .btn-subscription:focus{
    background-color: #34b5b8 !important;
    color: #FFFFFF !important;
    box-shadow: none !important; 
}

.card-header, .card{
    background-color: #F1F4F6 !important;
}

.card-body {
    color: black;
    background-color: white;
}

a.card-link {
    color: black !important;
    text-decoration:  none !important;
}

/* Modal premium */
.modal-content {
    background-color: #F1F4F6 !important;
}

.btn-grad {background-image: linear-gradient(to right, #85FFBD 0%, #aaff85 51%, #FFFB7D  100%)}
.btn-grad {
   margin: 20px;
   padding: 10px 25px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: #1C2127;     
   font-weight: 625;       
   box-shadow: 0 0 20px #1C2127;
   border-radius: 10px;
   display: block;
   text-decoration: none;
   border: 0;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #1C2127;
   text-decoration: none;
 }
 
 a {
     text-decoration: none !important;
 }

/* loader: */

.before-loader {
    margin-bottom: 30px
}

.after-loader {
    margin-bottom: 30px
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    background-color: black;
    animation: lds-ripple 1s cubic-bezier(0, .2, .8, 1) infinite
}

.lds-ripple div:nth-child(2) {
    animation-delay: -.5s
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1
    }

    100% {
        top: 0;
        left: 0;
        width: 72px;
        height: 72px;
        opacity: 0
    }
}