.pricing-card-best-offer {
    border: 3px solid #3EC3E0;
}

.pricing-card-best-popup {
    display: table;
    padding: 6px 20px;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%,-100%);
    transform: translate(-50%,-100%);
    transition: background-color .25s ease-out;
    color: white;
    font-size: 13px;
    line-height: 1.42857;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}


@media screen and (min-width: 75em) {
.promotion-card {
    padding: .5em 13%;
}

.modal-offer {
    text-align: center;
    background-image: linear-gradient(-50deg, #318ce7 0%, #171759 100%);
    border-radius: 10px;
    border-color: transparent;
 }
 

 .modal-offer-logo{margin-top:20px;margin-bottom: 20px;}

 .modal-offer-title {
     font-weight: 800;
     color: white;
     text-align: center;
 }

.modal-offer-description {
    color: white;
    text-align: center;
    font-size: 20px !important;
}
.modal-offer-bold {
    color: white;
    font-weight: 800;
}

.offer-button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 800;
    font-size: 25px;
    background: white !important;
    color: #2657A7 !important;
}
