*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

body{
  background-image: radial-gradient(56% 100%, rgb(255, 255, 255) 25%, rgb(213, 224, 232) 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form{
  width: 470px;
  background: #FFFFFF;
  padding: 30px 60px;
  box-shadow: rgba(25, 29, 33, 0.5) 0px 25px 60px;
  border-radius: 20px;
  max-width: 24rem;
}

.logo-firelink {
  width: 80px !important;
  height: 80px !important;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
}

.title-sign-up {
  font-size: 18px;
  font-weight: 700;
  color: black;
}

.gcIDSt {
  border-radius: 6px !important;
  line-height: 1.2 !important;
  border: 1px solid rgb(230, 230, 230) !important;
  padding: 15px 10px !important;
  background-color: rgb(250, 250, 250) !important;
}

.gUMdPB {
  margin: 0px;
  padding: 8px;
  width: 100%;
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  font-family: inherit;
  line-height: inherit;
  display: inline-block;
  vertical-align: middle;
  border: 0px;
  appearance: none;
  margin-top: 10px;
}

.info-small {
    margin: 0px;
    color: inherit;
    font-size: 13px;
    opacity: 0.4;
    text-align: left;
}

.continue-button {
  position: relative;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  color: white;
  background: linear-gradient(160deg, #0093E9, #80D0C7) !important;
  padding: 15px 20px;
  line-height: 1.23529;
  border-radius: 2em;
  width: 100%;
  margin-top: 15px;
}

.continue-button:focus { outline: none; }

.already-have-account {
  text-align: center;
  color: black;
}

a.sign-up {
  text-align: center;
  color: black;
  text-decoration: black !important;
  margin-bottom: 20px;
}

.footer-login {
  text-align: center;
}
/* Sigma 