body {
    color: #4B5473;
    font-family: 'Montserrat', sans-serif !important;
}
.bg-grey {
    background-color: #F5F5F5 !important;
}

.bold {
    font-weight: 600;
}

.brand-centered {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.navbar-brand {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header-section {
    margin-top: 6rem;
    font-size: 1.25rem;
    color: white;
    background-color: #45B9E0;
    padding: 1rem;
    padding-right: 3rem;
    padding-left: 5rem;
    width: 100%;
}

.beta-section {
    margin-top: 6rem;
    font-size: 1.25rem;
    color: white;
    background-image: linear-gradient(to right, #00c6ff 0%, #0072ff  51%, #00c6ff  100%);
    padding: 0.25rem;
    padding-right: 3rem;
    padding-left: 5rem;
    width: 100%;
}

.welcome-title {
    color: white;
    text-align: center;
    font-weight: 625;
}

.menu-btn {
    color: white;
    border-color: white;
}

.menu-btn:hover {
    color: #45B9E0;
    border-color: white;
    background-color: white;
}


/* ACCOUNT CARD : */

.modern-card {
    box-shadow: 0 12px 18px 2px rgba(34,0,51,.04), 0 6px 22px 4px rgba(7,48,114,.12), 0 6px 10px -4px rgba(14,13,26,.12);
    flex: 1 1 auto;
    padding: 1rem 1rem;
    border-radius: 15px;
}

.modern-card-plus {
    background-image: linear-gradient(45deg, #85FFBD, #FFFB7D);
    box-shadow: 0 12px 18px 2px rgba(34,0,51,.04), 0 6px 22px 4px rgba(7,48,114,.12), 0 6px 10px -4px rgba(14,13,26,.12);
    flex: 1 1 auto;
    padding: 1rem 1rem;
    border-radius: 15px;
}

.btn-plus {
    border-radius: 2px;
    border: 0;
    width: 200px !important;
    text-decoration: none;
    color: white;
    background: #4B5473;
    cursor: pointer;
    border: none;
    border-bottom: 6px solid black;
}

@media (max-width:660px) {
    .btn-plus {
        font-size: 13px
    }
}

.btn-plus:focus,
.btn-plus:hover {
    background-color: #5e698f;
    border-bottom: 6px solid black;
}

.btn-plus:active {
    margin-top: 4px;
    background-color: #5e698f;
    border-bottom: 2px solid black;
}



.btn-grad {background-image: linear-gradient(to right, #00c6ff 0%, #0072ff  51%, #00c6ff  100%)}
.btn-grad {
   margin: 10px;
   padding: 10px 25px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;     
   font-weight: 625;       
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   text-decoration: none;
   border: 0;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }



a.link {
    color: #519DFD !important;
    font-weight: 625;
}

.return-title {
    font-size: 1.25rem;
    margin-bottom: 12px;
    font-weight: 600;
    float: left;
}

.reload-button {
    float: right;
}

.card-text-sm-bold {
    font-weight: 600;
    font-size: 18px;
}

.text-zone {
    text-align: center;
}

.personnal-info-text {
    text-align: left;
}

.personnal-info {
    margin-right: 1.875rem;
}

/* upgrade modal */

.upgrade--modal {
    box-shadow: 0 12px 18px 2px rgba(34,0,51,.04), 0 6px 22px 4px rgba(7,48,114,.12), 0 6px 10px -4px rgba(14,13,26,.12);
    flex: 1 1 auto;
    padding: 1rem 1rem;
    border-radius: 15px;
}

/* loader: */

.before-loader {
    margin-bottom: 30px
}

.after-loader {
    margin-bottom: 30px
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    background-color: black;
    animation: lds-ripple 1s cubic-bezier(0, .2, .8, 1) infinite
}

.lds-ripple div:nth-child(2) {
    animation-delay: -.5s
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1
    }

    100% {
        top: 0;
        left: 0;
        width: 72px;
        height: 72px;
        opacity: 0
    }
}
/* upgrade modal */

/* ACCOUNT FOOTER */
.settings-grey-logo-container {
    margin-top: 24px;
    height: 64px;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.app-version {
    opacity: .6;
    font-size: 12px;
    font-weight: 700;
    color: #6d6f7b;
    text-align: center;
}
/* ACCOUNT FOOTER */

/* HYPERA. */