@font-face {font-family: "Gotham Rounded";
    src: url("http://db.onlinewebfonts.com/t/dffb2b80813d195d26fa4d2aad48b059.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/dffb2b80813d195d26fa4d2aad48b059.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/dffb2b80813d195d26fa4d2aad48b059.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/dffb2b80813d195d26fa4d2aad48b059.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/dffb2b80813d195d26fa4d2aad48b059.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/dffb2b80813d195d26fa4d2aad48b059.svg#Gotham Rounded") format("svg"); /* iOS 4.1- */
}